body {
  background-color: #111119;
  /* height: 1000vh; */
}
.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #111119;
  /* background: radial-gradient(
    circle,
    rgba(255, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 1) 70%
  ); */
}

.hero-sec {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  position: absolute;
  margin: 0 auto;
  /* left: 0%; */
  top: 150px;
  background-color: #111119;
  width: 1050px;
  height: 1050px;
  overflow: hidden;
  border-radius: 50%;

  z-index: 1;
}

body {
  height: 1000px;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 -1 24px 14px rgba(0, 170, 255, 0.102),
      inset 0 -1 24px 14px rgba(0, 170, 255, 0.102);
  }
  50% {
    box-shadow: 0 -1 32px 14px rgba(0, 170, 255, 0.102),
      inset 0 -1 50px 28px rgba(0, 170, 255, 0.102);
  }
  100% {
    box-shadow: 0 -1 24px 14px rgba(0, 170, 255, 0.102),
      inset 0 -1 24px 14px rgba(0, 170, 255, 0.102);
  }
}

.inner {
  /* background-color: transparent; */

  /* box-shadow: rgba(0, 170, 255, 0.102) 0px 50px 100px -20px,
    rgba(0, 170, 255, 0.102) 0px 30px 60px -30px; */
  box-shadow: 0px -1px 24px 14px rgba(0, 170, 255, 0.102);
  -webkit-box-shadow: 0px -1px 24px 14px rgba(0, 170, 255, 0.102);
  -moz-box-shadow: 0px -1px 24px 14px rgba(0, 170, 255, 0.102);
  /* box-shadow: 0 0 16px rgba(0, 170, 255, 0.102), inset 0 0 16px #00aaff1a; */
  -webkit-animation: pulse 2s linear 1s infinite;
}

/*  */

.custom-border::after {
  content: "";
  background: url(./src/assets/Vector1.svg);
  background-repeat: no-repeat;
  position: absolute;
  /* opacity: 1; */
  top: -5px;
  right: -3px;
  width: 87px;
  height: 100px;
  z-index: 9999;
}

.custom-border::before {
  content: "";
  background: url(./src/assets/Vector1.svg);
  transform: rotate(180deg);
  background-repeat: no-repeat;
  position: absolute;
  /* opacity: 1; */
  bottom: -5px;
  left: -3px;
  width: 87px;
  height: 100px;
  z-index: 9999;
}

/* footer  */

footer {
  background: url("./src/assets/image.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
